.modal {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 225px;
    background-color: $theme-secondary;
    display: grid;
    grid-template-rows: auto 70px;
    border-radius: 5px;


    div {
        text-align: center;
        input {
            width: 80%;
            border: 1px solid $theme-border;
            margin-top: 65px;
            padding: 10px;
        }
    }

    div:nth-child(2) {
        text-align: right;
        border-top: 1px solid $theme-primary;

        button {
            margin: 15px 10px 0 10px;
            text-align: center;
        }
    
        .join-button {
            margin-right: 30px;
            background-color: $theme-buttons-secondary;
    
            &:hover {
                background-color: $theme-buttons-secondary-hover;
            }
    
            &:focus {
                background-color: $theme-buttons-secondary-click;
            }
        }
    }
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}