@import 'variables.scss';
@import 'fonts.scss';

// partials
@import 'partials/control-panel.scss';
@import 'partials/modal.scss';
@import 'partials/messge-view.scss';
@import 'partials/toast.scss';
@import 'partials/author-drawer.scss';
@import 'partials/loader.scss';

* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size:  14px;
    color: $theme-font;
}

#root, .main {
    height: 100vh;
}

.main {
    display: grid;
}

.drawer-closed {
    grid-template-columns: $control-panel-width auto 50px;
}

.drawer-open {
    grid-template-columns: $control-panel-width auto 247px;
}

#author-id {
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
    word-break: break-all;
    font-family: monospace;
}

h1 {
    font-size: 20px;
}

input {
    outline: none;
    border: 1px solid $theme-border;
    border-radius: 5px;
    color: $theme-font;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $theme-buttons;
    border: none;
    color: $theme-font-secondary;

    &:hover {
        background-color: $theme-buttons-hover;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25)
    }

    &:focus {
        outline: none;
        background-color: $theme-buttons-click;
    }

    &:disabled {
        cursor: not-allowed;
    }
}