$theme-secondary: #fafafa;
$theme-primary: #ECF0F1;
$theme-buttons: #38758f;
$theme-buttons-hover: #224d5f;
$theme-buttons-click: #4493b4;
$theme-buttons-secondary: #44a598;
$theme-buttons-secondary-hover: #35877C;
$theme-buttons-secondary-click: #50c0b1;
$theme-buttons-error: #b75252;
$theme-buttons-error-hover: #a74747;
$theme-buttons-error-click: #ca5d5d;
$theme-border: #27324A;
$theme-font: #323232;
$theme-font-dark: black;
$theme-font-secondary: #fafafa;
$theme-highlight: #fafafa;
$theme-active: #dddddd;
$theme-error: #c32f27;
$theme-notification: #f7dba7;
$color-white: #fff;


$control-panel-width: 225px;
